* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    color: black;
    transition: .5s;
}

a {
    text-decoration: none;
}

body {
    font-family: "mont";
}

input {
    font-family: "mont";
    font-size: 16px;
    font-weight: 300;
    border-radius: 0;
    outline: none;
    background: white;
}

.input-all {
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    text-align: center;
    padding: 15px 10px;
    width: 100%;
    font-family: "mont";
    font-size: 16px;
    font-weight: 300;
}

input:focus::placeholder {
    color: transparent;
}

@font-face {
    font-family: "mont";
    src: url(../fonts/Montserrat-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: "mont";
    src: url(../fonts/Montserrat-SemiBold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: "mont";
    src: url(../fonts/Montserrat-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: "mont";
    src: url(../fonts/Montserrat-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: "mont";
    src: url(../fonts/Montserrat-Light.ttf);
    font-weight: 300;
}

.section {
    max-width: 1200px;
    margin: 0 auto;
}

.section-hr {
    width: 100%;
    border: 1px solid #E7E7E7;
    margin-bottom: 70px;
}

/* header start */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 30px;
    position: relative;
}

.header-icon {
    display: flex;
    gap: 30px;
}

.admin-logo {
    width: 120px;
}

.header-burger {
    display: flex;
    align-items: center;
    gap: 30px;
}

.header-icon a:hover {
    opacity: 0.6;
}

.header-icon img {
    height: 20px;
}

.header-logo {
    position: absolute;
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    width: max-content;
    text-align: center;
}

.header-logo img {
    width: 160px;
    z-index: -1;
}

.header-contact {
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-contact span {
    font-size: 20px;
}

.menu {
    display: flex;
    gap: 3px;
}

.menu__elem {
    display: flex;
    flex-direction: column;
    position: relative;
}

.menu__btn {
    font-family: 'mont';
    border: none;
    outline: none;
    background: transparent;
    font-size: 16px;
    font-weight: 500;
}

.menu__btn.active {
    box-shadow: none;
  
}

.submenu__elem{
    padding: 10px 0px;
    color: black;
    font-weight: 500;
    font-size: 16px;
}

.submenu {
    position: absolute;
    top: 100%;
    left: 0;
    padding-top: 10px;
    width: 200px;
    visibility: hidden;
    opacity: 0;
}

.submenu.active {
    visibility: visible;
    opacity: 1;
    transition: .9s;
}
.submenu:not(:active){
    transition: .9s;
}

.submenu__wrapper {
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 8px 8px 8px 20px;
    border: 1px solid #e5e5e5;
    background-color: white;
}
/* header end */

/* banner start */
.banner {
    margin: 0px 20px 70px;
    background: url(../images/main/banner/banner-bg.png) no-repeat;
    background-size: cover;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.banner h1 {
    font-size: 60px;
    font-weight: 500;
    width: 880px;
    text-align: center;
    color: white;
    text-transform: uppercase;
}

.banner a {
    font-size: 23px;
    text-transform: uppercase;
    color: white;
    padding: 14px 84px;
    background: rgb(255, 255, 255, 10%);
    backdrop-filter: blur(20px);
    border-radius: 3px;
    font-weight: 300;
}

.banner a:hover {
    background: rgb(255, 255, 255);
    color: black;
}

/* banner end */

/* footer start */
footer {
    display: flex;
    flex-direction: column;
    gap: 70px;
    align-items: center;
    background: black;
    padding: 55px 0;
}

.footer-block {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.footer-element {
    display: flex;
    justify-content: space-between;
    gap: 120px;
}

.footer-mini-block {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.footer-card {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.footer-inf {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-form {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.footer-input {
    display: flex;
    gap: 30px;
    align-items: flex-end;
}

.footer-logo {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

.footer-input input {
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid white;
    width: 100%;
    color: white;
    padding: 0px 10px 10px;
}

.footer-form input {
    font-family: "mont";
    font-size: 18px;
    font-weight: 300;
}

.footer-input p {
    width: 100px;
}

.footer-btn {
    width: max-content;
    padding: 12px 50px;
    border-radius: 3px;
    font-weight: 300;
    outline: none;
    border: none;
    backdrop-filter: blur(20px);
    background: white;
}

.footer-btn:hover {
    background: rgb(255, 255, 255, 10%);
    color: white;
}

footer a {
    font-size: 16px;
    color: white;
    font-weight: 300;
}

.footer-logo img {
    width: 160px;
}

footer p {
    font-size: 16px;
    color: white;
    font-weight: 300;
}

.footer-p {
    width: 520px;
}

footer h3 {
    font-size: 16px;
    color: #8B8B8B;
    text-transform: uppercase;
    font-weight: 300;
}

.footer-span {
    font-size: 14px;
    font-weight: 600;
    color: white;
}

.footer-input input::placeholder {
    color: transparent;
}